<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>link to subjects my area</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
	
	<div class="container-fluid">
    <!-- inclusion menu-->
 
 		<div th:replace="menu :: mymenu"></div>
 <hr>
   <h3> Link  Tutor and Subjects </h3>
   	
 	 <form th:action="@{/tutors/myArea/link}" th:object="${tutor}"   action="#" method="POST" class="form-control">		
 	 	
 	  <div class="row">
 	 	<fieldset class="col-md-8 form-group">
 	 		<legend> My infos</legend>
 	 		<hr>
 	 		<div class="row">
 	 			 <div class="col-md-3" hidden>
 	 			  <label for="id"> The tutor's ID </label></br>	
 	 			  <input type="number" name="id" id="id" class="form-control" th:field="*{id}" th:value="${tutor.id}" readonly required/></br>
 	 			 </div>
 	 			 
 	 			 <div class="col-offset-1 col-md-3">
 	 			  <label for="lastname"> The tutor's lastname </label></br>	
 	 			  <input type="text" name="lastname" id="lastname" class="form-control" th:field="*{lastname}" th:value="${tutor.lastname}" readonly  required/></br>
 	 			 </div>
 	 			 
 	 		</div>
 	 		
 	 		<div class="row">
 	 			<div class="col-md-3">
 	 			 <label for="tutorLabel"> The tutor's surname </label></br>	
 	 			 <input type="text" name="tutorLabel" id="tutorLabel"  class="form-control" th:field="*{tutorLabel}"  th:value="${tutor.lastname}" readonly required/>
 	 			</div>
 	 			
 	 			<div class="col-offset-1 col-md-3">
 	 			 <label for="mailAddress"> The tutor's mail address </label></br>	
 	 			 <input type="mail" name="mailAddress" id="mailAddress" class="form-control" th:field="*{mailAddress}" th:value="${tutor.mailAddress}" readonly required/>
 	 			</div>
 	 			
 	 			
 	 		</div>
 	 		
 	 	</fieldset>
 	 	<fieldset class="form-group  col-md-3 ">
 	 	<legend> Subjects available</legend>
 	 	<hr>	
 	 	    <div class="row">	
 	 		   
 	 			<label for="mySubjects" >Subjects</label></br>
 	 			<select  type="text" name="mySubjects" id="mySubjects" class="form-control" th:field="*{mySubjects}" multiple>
 		 			<option th:value="${null}">potion--</option>
 		 			<option th:each="subjectItem: ${listSubjects}" th:value="${subjectItem.id}" th:text="${subjectItem.label}">option1</option>
 	 			</select>
 	 		   
 	 	    </div>
 	 	    <div class="row">	
 	 		   
 	 			<label  >my Subjects</label></br>
 	 			<div th:if="${not #lists.isEmpty(tutor.mySubjects)}">	
	 	 			<div class="form-control" >
	 		 			<p th:each="subjectItem: ${tutor.mySubjects}"  th:text="${subjectItem.label}">subject 1</p>
	 	 			</div>
	 	 		   
	 	 	    </div>
	 	 	    <div th:if="${ #lists.isEmpty(tutor.mySubjects)}">
	 	 	    <p> <pan>No subjects linked yet please</pan> <a th:href="@{/tutors/find}">link here</a></p>
	 	 	    </div>
 	 		   
 	 	    </div>
 	 	    
 	 	</fieldset>
 	  </div>
 	 	   <div class="row">	
 	 		   <div class="mx-auto col-md-5">
 	 		    <label hidden> send button</label></br>
 	 			<input type="submit"  value="submit" name="submit" class="btn btn-primary "/>
 	 		   </div>
 	 	   </div>	
 	  
 	</form>   
   </div>

 
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
        integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

	
</body>
</html>